Repository binden-js/compression: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -w, eslint --fix

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  docs/.nojekyll
  docs/assets/highlight.css
  docs/assets/main.js
  docs/assets/search.js
  docs/assets/style.css
  docs/assets/widgets.png
  docs/assets/widgets@2x.png
  docs/classes/Compression.html
  docs/index.html
  docs/interfaces/ICompressionOptions.html
  docs/modules.html
  docs/types/IComressFormats.html
  docs/variables/DefaultCompression.html
  docs/variables/default.html
Due: prettier -w

Notes added by 'git notes add'
  41a174fd93ac1d66d09fd138e4e175c6e5b100ab
Due: none

style: run `prettier`
  docs/assets/main.js
  docs/assets/search.js
  docs/assets/style.css
  docs/classes/Compression.html
  docs/index.html
  docs/interfaces/ICompressionOptions.html
  docs/modules.html
  docs/types/IComressFormats.html
  docs/variables/DefaultCompression.html
  docs/variables/default.html
  index.ts
  test/compression.test.ts
Due: prettier -w, eslint --fix

devDependencies: bump `@binden/commitlint-config` from `1.0.1` to `1.0.2`
  package-lock.json
  package.json
Due: prettier -w

devDependencies: bump `@binden/semantic-release-config` from `1.1.1` to `2.0.0`
  package-lock.json
  package.json
Due: prettier -w

devDependencies: bump `eslint-config-binden-ts` from `1.0.2` to `2.0.0`
  package-lock.json
  package.json
Due: prettier -w

dependencies: bump `binden` from `1.1.1` to `1.2.1`
  package-lock.json
  package.json
Due: prettier -w

dependencies: bump `binden` from `v1.1.1` to `v1.2.1`
  package-lock.json
  package.json
Due: prettier -w

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  docs/assets/highlight.css
  docs/assets/main.js
  docs/assets/search.js
  docs/assets/style.css
  docs/assets/widgets.png
  docs/assets/widgets@2x.png
  docs/classes/Compression.html
  docs/index.html
  docs/interfaces/ICompressionOptions.html
  docs/modules.html
  docs/types/IComressFormats.html
  docs/variables/DefaultCompression.html
  docs/variables/default.html
  package-lock.json
  package.json
Due: prettier -w

Notes added by 'git notes add'
  617cfb95040a2fa475b4490315b12b06ee8f8740
Due: none

style: run `prettier`
  docs/assets/main.js
  index.ts
Due: prettier -w, eslint --fix

devDependencies: `npm update`
  package-lock.json
  package.json
Due: prettier -w

test: fix `eslint` errors
  test/compression.test.ts
Due: prettier -w, eslint --fix

chore: update `husky` config
  .husky/commit-msg
  .husky/pre-commit
  package.json
Due: prettier -w

chore: remove `:js` scripts
  package.json
Due: prettier -w

perf!: drop `Node.js` `<20.11.0` support
  package-lock.json
  package.json
Due: prettier -w

ci: update the workflow
  .github/workflows/ci.yml
Due: prettier -w

peerDependencies: bump `binden` from `v1.2.4` to `v1.2.5`
  package-lock.json
  package.json
Due: prettier -w

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  docs/assets/main.js
  docs/assets/navigation.js
  docs/assets/search.js
  docs/assets/style.css
  docs/classes/Compression.html
  docs/index.html
  docs/interfaces/ICompressionOptions.html
  docs/modules.html
  docs/types/IComressFormats.html
  docs/variables/DefaultCompression.html
  docs/variables/default.html
  package-lock.json
  package.json
Due: prettier -w

Notes added by 'git notes add'
  7de1336314cc645bbb907e4fd895c5ac9d3b660c
Due: none

peerDependencies: bump `binden` to `v2.0.2`
  package-lock.json
  package.json
Due: prettier -w

chore(release): 2.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -w

Notes added by 'git notes add'
  ea2856071134a9f530bc9bf72253d86d03a053f2
Due: none

chore: update `ESLint` config
  .eslintrc.json
  .npmignore
  eslint.config.js
  package.json
Due: prettier -w

chore: update `typedoc` config
  typedoc.json
Due: prettier -w

test: use the `node:test` module
  .npmignore
  package-lock.json
  package.json
  test/compression.test.ts
Due: prettier -w, eslint --fix

docs: update `README`
  README.md
Due: prettier -w

ci: add `Node.js@22`
  .github/workflows/ci.yml
Due: prettier -w

chore: update scripts
  package.json
Due: prettier -w

devDependencies: npm update
  .eslintignore
  .mocharc.json
  docs/assets/main.js
  eslint.config.js
  index.ts
  package-lock.json
  package.json
  test/compression.test.ts
Due: prettier -w, eslint --fix

perf!: drop `Node.js` <24 support
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: prettier -w

chore(release): 3.0.0 [skip ci]
  CHANGELOG.md
  docs/assets/hierarchy.js
  docs/assets/icons.js
  docs/assets/icons.svg
  docs/assets/main.js
  docs/assets/navigation.js
  docs/assets/search.js
  docs/assets/style.css
  docs/classes/Compression.html
  docs/hierarchy.html
  docs/index.html
  docs/interfaces/ICompressionOptions.html
  docs/modules.html
  docs/types/IComressFormats.html
  docs/variables/DefaultCompression.html
  package-lock.json
  package.json
Due: prettier -w

Notes added by 'git notes add'
  95ce1bdb45365db75684094455489136e792b091
Due: none

devDependencies: bump `prettier` to `v3.8.4`
  package-lock.json
  package.json
Due: prettier -w

ci: update Node.js
  .github/workflows/ci.yml
Due: prettier -w

devDependencies: bump `@binden/eslint-config-ts` from `6.0.0` to `6.0.1`
  package-lock.json
  package.json
Due: prettier -w

Path conditions:
  prettier -w: any of: *.{js,cjs,mjs,ts,json,md,yaml,yml,html,css}
  eslint --fix: any of: *.ts
